<div class="content">
    <% content.forEach(content => { %>
        <p><%= content.description %></p>
    <% }); %>

    <%if(locals.pageType) { %>
        <% if(pageType === "land") { %>
            <div class="detailed_links">
                <p>Click here to learn more about</p>
                <ul class="link_list">
                    <li><a href="/landcreation/unicorn">Unicorn</a></li>
                    <li><a href="/landcreation/griffin">Griffin</a></li>
                </ul>  
            </div>
       <% } else if(pageType === "water") { %>
            <div class="detailed_links">
                <p>Click here to learn more about</p>
                <ul class="link_list">
                    <li><a href="/watercreation/mermaid">Mermaid</a></li>
                    <li><a href="/watercreation/kraken">Kraken</a></li>
                </ul>  
            </div>
       <% } %>
    <% } %>
</div>