<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs")  %>
<body>
    <%- include("../partials/navigation_bar.ejs")  %>
    <%- include("../partials/header.ejs")  %>
    <div class="video-background-container">
        <video
          class="background-video"
          autoplay="autoplay"
          muted="muted"
          playsinline="true"
          loop="loop"
          src="/videos/background_video.mp4"
        ></video>
        <div class="video-overlay">
   hiii
</div>
    </div>
</body>
</html>