* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  background-color: beige;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
}

.logo {
  margin: 8px;
}

.title {
  margin: 8px;
  padding: 16px;
  text-align: center;
  color: #C179B9;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}

.nav {
  margin: 16px;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  background-color: #C179B9;
}

.nav a {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: #502274;
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
}

.nav a:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.2);
}

.main {
  flex-grow: 1;
}

.back-video {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1; 
}

.content {
  margin:  48px 30%;
  color: rgb(11, 11, 11);
}

.content h3{
  color: rgb(171, 190, 103);
  margin: 8px;
 font-size: 1.2rem;
}

.content p {
  margin: 8px;
  font-size: 22px;
  text-indent: 30px;
}

.detailed_links {
  margin: 32px;
}

.link_list li {
  text-align: center;
  list-style: none;
}

.link_list a {
  text-decoration: none;
  margin: 8px;
  padding: 8px;
  color: #712F79;
  font-size: 24px;
  font-weight: bold;
}

.footer {
  text-align: center;
  background-color: #C179B9;
  color: white;
  font-size: 20px;
}

.footer_title {
  margin: 8px;
  display: flex;
  justify-content: center;
}

.footer_title p {
  margin: 8px;
}


@media screen and (max-width:768px) {
  .title {
    margin: 0;
    padding-top: 32px;
    text-align: center;
    color: #C179B9;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
  }

  .content {
    margin: 16px;
}

}



