* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  background-color: beige;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 0;
}

.title {
  text-align: center;
  color: rgb(144, 169, 75);
  font-size: 2.4rem;
  text-transform: uppercase;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}

.nav {
  margin: 16px;
  padding: 8px;
  text-align: end;
  margin-bottom: 0;
  padding-bottom: 0;
  
}

.nav a {
  margin: 8px;
  padding: 8px;
  text-decoration: underline;
  font-size: 1.4rem;
  color: rgb(160, 200, 109);
  display: inline-block;
}

.nav a:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.2);
}

.main {
  flex-grow: 1;
}

.back-video {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1; 
}

.content {
  margin: 16px;
  color: white;
}

.content h3{
  color: rgb(171, 190, 103);
  margin: 8px;
 font-size: 1.2rem;
}

.content p {
  margin: 8px;
  font-size: 22px;
  text-indent: 30px;
}

.detailed_links {
  margin: 32px 15%;
}

.detailed_links p {
  text-align: center;
}

.link_list li {
  text-align: center;
  list-style: none;
}

.link_list a {
  text-decoration: none;
  margin: 8px;
  padding: 8px;
  color: rgb(205, 238, 56);
  font-size: 24px;
}

.footer {
  text-align: center;
  color: white;
  background-color: rgb(52, 10, 115);
}





