* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  background-color: beige;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 0;
 
}

.title {
  text-align: center;
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

.nav {
  margin: 16px;
  padding: 8px;
  text-align: end;
  margin-bottom: 0;
  padding-bottom: 0;
  
}

.nav a {
  margin: 8px;
  padding: 8px;
  text-decoration: underline;
  font-size: 1.4rem;
  color: white;
  display: inline-block;
}

.nav a:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.2);
}

.main {
  flex-grow: 1;
}

.back-video {
  position: fixed; /* Ensures the video covers the entire screen */
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  object-fit: cover; /* Ensures the video covers the entire screen without stretching */
  z-index: -1; /* Moves the video behind other content */
}


.footer {
  text-align: center;
  color: white;
  background-color: rgb(52, 10, 115);
}





